<u-chart :class="$style.root" :title="title" :border="border" :legend="legend" :series="currentData" :data="currentData"
    :width="width" :height="height">
    <slot name="title" slot="title"></slot>
    <slot name="caption" slot="title"></slot>
    <svg :class="$style.svg" ref="svg" viewBox="0 0 200 200">
        <g transform="translate(100, 100)" :class="$style.group">
            <circle v-if="empty" :class="$style.empty" cx="0" cy="0" :r="RADIUS"></circle>
            <g v-if="!empty">
                <path v-for="item in currentData" :class="$style.item" :selected="item === currentItem"
                        :color="item.color" :d="getD(item)" @mouseover="onMouseOver(item)" />
            </g>
            <g v-if="!empty">
                <path v-for="item in currentData" :class="$style['label-line']" :d="item.label.d" :selected="item === currentItem" />
            </g>
            <circle cx="0" cy="0" :r="RADIUS * 0.75" :class="$style.circle" />
        </g>
    </svg>
    <div v-if="empty" :class="$style['empty-text']">
        <div>0%</div>
    </div>
    <div v-else v-for="item in currentData" :class="$style.label"
            :style="getLabelStyle(item)" :selected="item === currentItem">
        <slot name="label">{{ item.name }}: {{ item.value }}</slot>
    </div>
    <div v-if="currentItem" :class="$style.text">
        <p :class="$style.percent"><span>{{ currentItem.percentage }}</span>%</p>
        <p :class="$style.name">{{ currentItem.name }}</p>
    </div>
</u-chart>
