@import "proto-ui.vusion/src/u-modal.vue/module.css";

.root {
    background: rgba(0, 0, 0, 0.6);
    padding-top: 70px;
    padding-bottom: 30px;
}

.dialog {
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.dialog[size="small"] {
    width: 300px;
}

.dialog[size="normal"] {
    width: 400px;
}

.dialog[size="large"] {
    width: 600px;
}

.dialog[size="huge"] {
    width: 800px;
}

.dialog[size="auto"] {
    width: auto;
}

.head {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid $border-color-light;
}

.title {
    margin: 0;
    font-size: 14px;
}

.close {
    position: absolute;
    right: 15px;
    top: 22px;
    line-height: 1;
    color: #bbb;
}

.close:hover {
    color: #888;
}

.close::before {
    icon-font: url('cloud-ui.vusion/src/u-icon.vue/icons/close.svg');
    font-size: 14px;
}

.body {
    position: relative;
    margin: 40px 50px;
    padding: 0;
}

.body[icon] {
    margin-top: 50px;
}

.body[icon]::before {
    position: absolute;
    left: 0;
    top: 0;
}

.body[icon="warning"]::before {
    icon-font: url('../u-status-icon.vue/icons/warning.svg');
    color: #fbcc3e;
    font-size: 40px;
    line-height: 40px;
}

.body[icon="success"]::before {
    icon-font: url('../u-status-icon.vue/icons/success.svg');
    color: #3ad0af;
    font-size: 40px;
    line-height: 40px;
}

.body[icon="error"]::before {
    icon-font: url('../u-status-icon.vue/icons/error.svg');
    color: #ff867f;
    font-size: 40px;
    line-height: 40px;
}

.body[icon] .text {
    margin-left: 50px;
}

.heading {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    color: #333;
}

.content {
    line-height: 24px;
    color: #666;
}

.foot {
    margin: 20px;
    padding: 0;
    text-align: right;
}

@media (max-width: $media-sm-max-width) {
    .dialog {
        width: auto;
        margin: 10px;
    }
}

.root[static] {
    position: static;
    padding: $margin-base;
}

:global .fade-enter-active, :global .fade-leave-active {
    transition: all 0.3s;
}

:global .fade-enter, :global .fade-leave-to {
    opacity: 0;
    top: -40px;
}
