<div :class="$style.root" :border="border" :empty="data && !data.length" :style="{ width: width, height: height }">
    <!-- @deprecated: width, height, titleTemplate, captionTemplate, titleAlign, sery.key, sery.name -->
    <div :class="$style.title" v-if="title || $slots.title || $slots.titleTemplate" :style="{ textAlign: titleAlignment || titleAlign }">
        <slot name="titleTemplate"><slot name="title">{{ title }}</slot></slot>
    </div>
    <div :class="$style.caption" v-if="caption || $slots.caption || $slots.captionTemplate">
        <slot name="captionTemplate"><slot name="caption">{{ caption }}</slot></slot>
    </div>
    <div :class="$style.legend" v-if="legend && currentSeries && currentSeries.length" :multiline="currentSeries.length > 5">
        <div :class="$style['legend-item']" v-for="(sery, index) in currentSeries" :key="sery.field || sery.key" :auto-width="currentSeries.length > 4"
            :muted="sery.hidden" :title="sery.title || sery.name || sery.field || sery.key"
            @click.stop="sery.hidden = !sery.hidden">{{ sery.title || sery.name || sery.field || sery.key }}</div>
    </div>
    <div :class="$style.content" :style="contentStyle">
        <slot></slot>
    </div>
    <div :class="$style.operate">
        <slot name="operate"></slot>
    </div>
    <u-loading :class="$style.loading" v-if="loading" size="large" display="full"></u-loading>
</div>
