@import 'proto-ui.vusion/src/u-sidebar-item.vue/module.css';

.root {
    composes: item from '../u-sidebar.vue/module.css';
    display: block;
    cursor: pointer;
    height: 44px;
    line-height: 44px;
    padding-left: 20px;
    color: #717f94;
    transition: all $transition-duration-base;
}

.root:hover {
    color: white;
}

.root[selected] {
    color: white;
    background: rgba(0, 0, 0, 0.15);
    border-right: 4px solid $brand-primary;
}

.root[disabled] {
    cursor: $cursor-not-allowed;
    background: transparent;
    color: #586475;
}

.root[selected][disabled] {
    background: transparent;
    border-right: none;
}
