@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.root {
    content: '';
    border-top: 2px solid #07d;
    border-right: 2px solid transparent;
    vertical-align: -5px;
    display: inline-block;
    animation: spin 0.6s infinite linear;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}
