@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.root {
    display: inline-block;
    content: '';
    border-top: 2px solid $brand-primary;
    border-right: 2px solid transparent;
    animation: spin 0.8s infinite linear;
    width: 1.2em;
    height: 1.2em;
    vertical-align: -0.2em;
    border-radius: 50%;
}
