.root {
    composes: group from '../u-sidebar.vue/module.css';
}

.head {
    composes: group_head from '../u-sidebar.vue/module.css';
    display: block;
    cursor: pointer;

    height: 40px;
    line-height: 40px;
    color: #6e7a8c;
    padding-left: 20px;
    transition: color 0.2s;
    position: relative;
}

.expander {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 39px;
    text-align: center;
}

/* @TODO: replace by icon-font */
.expander::after {
    content: '▸';
    font-size: 16px;
}

.head:hover {
    /* color: white; */
    /* background: #17263c; */
    /* background-color: #dde8f0; */
}

/* @TODO: replace by icon-font */
.head:hover::after {
    border-left-color: white;
}

/* @TODO: replace by icon-font */
.expander[expanded]::after {
    content: '▾';
}

.body {
    background: #14202f;
    transition: $transition-duration height ease-in-out, $transition-duration padding-top ease-in-out, $transition-duration padding-bottom ease-in-out;
}
