@import 'cloud-ui.vusion/src/base/global.css';

/* Brand Colors */
$brand-primary: #457cd0;
$brand-secondary: #e1e8ed;
$brand-third: #17263c;
$brand-success: #34bfa3;
$brand-info: #36a3f7;
$brand-warning: #ffb822;
$brand-error: #f22d4e;
$brand-disabled: #e7e9ec;

$height-base: 36px;
$border-radius-base: 3px;

$transition-duration: 0.2s;
$transition-duration-base: 0.2s;

$navbar-height: 70px;
$sidebar-width: 240px;
